section {
  width: 250px;
  height: 100vh;
  display: block;
  background-color: #fff;
  padding: 30px;
  padding-top: 70px;
}

audi-new {
  margin-bottom: 30px;
  margin-top: 30px;
  display: block;
}
